################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/AnimalHealth/FileContentIndex/1e16955d-073c-44cb-86d4-dc95e1510191.vsidx
/.vs/AnimalHealth/FileContentIndex/3b05e0ba-3d5e-488c-9a1a-94a8fe4f6d23.vsidx
